<div data-role="view" data-model="app.home">
    <div id="nuevaFx">
        <label>Nueva Fx wonderful...</label>
        <h3>
            Opciones
        </h3>
        <div class="container-fluid">
            <div class="btn-group-vertical btn-group-lg" style="width:100%;">
                <button type="button" class="btn btn-sm btn-success" data-bind="events: { click: homeModel.testPost }">
                    TEST POST
                </button>
                <button type="button" class="btn btn-sm btn-info" style="margin-top:5px;" data-bind="events: { click:homeModel.terminar }">
                    Salir
                </button>
            </div>
        </div>
    </div>
    </div>    
</div>