<div id="startHome" data-role="view" data-title="Home View Test WS" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="homeModel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" onClick="loadNews();" class="btn btn-info">
                        Load News
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-sm btn-info" data-bind="events: { click: homeModel.nuevaFx }">
                        Nueva Fx
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-sm btn-info" data-bind="events: { click: homeModel.banner }">
                        Internal banner
                    </button>
                </div>
            </div>
        </div>
        <div id="lstNews" class="container-fluid">    </div>
        <script type="text/x-kendo-tmpl" id="tmpLstNews">
            <div class="col-xs-12 ItemLstCliente">
                <b>#:title#</b>
            </div>
        </script>
    </div>
    
    
     
    <!-- END_CUSTOM_CODE_home -->
</div>

<div id="banner" data-role="view"  data-model="app.home">
        <h3>Your message here</h3>
        <h5>Whatever you want...</h5>
        <h3>
            Opciones
        </h3>
        <div class="container-fluid">
            <div class="btn-group-vertical btn-group-lg" style="width:100%;">
                <button type="button" class="btn btn-sm btn-info" style="margin-top:5px;" data-bind="events: { click:homeModel.start }">
                    Salir
                </button>
            </div>
        </div>
</div>